.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 24px;
    color: white;
}

/* header {
    background-color: brown;
} */

nav {
    margin: 40px 0 0 40px;
    display: inline-block;
}

li {
    display: inline-block;
    /* margin: 0 30px; */
}

.arrow {
    margin: 0 34px 0 0;
}

body {
    margin: 0;
    background-color: rgba(25, 32, 37, 1);
}

.logotip {
    display: inline-block;
    margin: 0 0 0 130px;
}

.logo-name {
    display: inline-block;
    font-family: 'Roboto Serif', 'sans-serif';
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin-bottom: 358px;
}

.nav-items {
    display: inline-block;
    text-align: right;
    margin: 24px 0 0 200px;
}

.magnifaer-icon {
    margin-right: 40px;
}

.lang-icon {
    margin-right: 24px;
}

.first-screen {
    background-image: url(../img/Down-Foto.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0;
}

.outer-rect {
    display: inline-block;
    padding: 50px 50px;
    background-color: rgba(255, 118, 14, 1);
    border-radius: 36px;
    width: 360px;
    height: 10px;
    margin: 160px 0 0 0;
    position: absolute;
    top: 435px;
    left: 50%;
    transform: translateX(-50%);
}

.inner-rect {
    display: inline-block;
    background-color: rgba(214, 54, 0, 1);
    width: 450px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 1%;
    border-radius: 36px;
}

.mainwritting-button {
    display: inline-block;
    font-family: 'Roboto Serif', 'sans-serif';
    font-weight: 600;
    font-size: 32px;
    color: white;
    margin: 0;
}

.inner-content {
    position: absolute;
    top: 10px;
    left: 10%;
    text-decoration: none;
    color: white;
}

.second-screen {
    margin: 0 auto;
    width: 1510px;
    margin-top: 12px;
    background-color: rgba(25, 32, 37, 1);
    margin-bottom: 12px;
}

.screen1 {
    margin-right: 4px;
    border-radius: 25px;
    width: 748px;
}

.screen2 {
    margin-left: 4px;
    border-radius: 25px;
    width: 748px;
}

.third-screen {
    width: 100%;
    height: 1100px;
    background-color: rgba(41, 41, 41, 1);
    /* position: absolute; */
}

.writting2-cont {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0 66px 0;
}

.writting2 {
    display: inline-block;
    margin: 0;
    font-family: 'Roboto Slab', 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin-right: 6px;
}

.core {
    display: inline-block;
    position: relative;
}

.outer-rect1 {
    background-color: rgba(255, 77, 22, 1);
    width: 324px;
    height: 76px;
    border-radius: 36px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 370px;
    left: 30%;
}

.inner-rect1 {
    display: inline-block;
    position: absolute;
    width: 314px;
    height: 67px;
    border-radius: 36px;
    background-color: rgba(22, 24, 27, 1);
}

.inner-content1 {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Serif', 'sans serif';
    font-weight: 600;
    font-size: 24px;
    top: 20px;
    left: 8%;
}

.wrapp-phrase {
    display: inline-block;
    position: absolute;
    top: 268px;
    left: 15%;
}

.wrapp-phrase > p {
    color: white;
    font-family: 'Roboto', 'sans serif';
    font-weight: 700;
    font-size: 54px;
    margin: 0;
}

.core1 {
    display: inline-block;
    position: relative;
}

.outer-rect2 {
    background-color: rgba(255, 77, 22, 1);
    width: 324px;
    height: 76px;
    border-radius: 36px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 370px;
    left: 30%;
}

.inner-rect2 {
    display: inline-block;
    position: absolute;
    width: 314px;
    height: 67px;
    border-radius: 36px;
    background-color: rgba(22, 24, 27, 1);
}

.inner-content2 {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Serif', 'sans serif';
    font-weight: 600;
    font-size: 24px;
    top: 20px;
    left: 12%;
}

.wrapp-phrase1 {
    display: inline-block;
    position: absolute;
    top: 268px;
    left: 15%;
}

.wrapp-phrase1 > p {
    color: white;
    font-family: 'Roboto', 'sans serif';
    font-weight: 700;
    font-size: 54px;
    margin: 0;
}

.goods-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.back-photo {
    margin: 0 30px;
    border-radius: 30px;
}

.goods-wrap {
    position: relative;
    display: inline-block;
}

.telescope-first {
    position: absolute;
    top: -66px;
    left: 0%;
}

.telescope-second {
    position: absolute;
    top: -57px;
    left: 8%;
}

.telescope-third {
    position: absolute;
    top: -31px;
    left: 1%;
}

.telescope-fourth {
    position: absolute;
    top: -52px;
    left: 6%;
}

.goods-name {
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    font-size: 32px;
    color: white;
    display: inline-block;
    margin: 0;
    margin: 20px 50px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    font-size: 15px;
    color: white;
    display: inline-block;
    margin: 20px 0 0 0;
    max-width: 250px;
    text-align: center;
}

.semi-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.rect-writting {
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    font-size: 16px;
    color: white;
    display: inline-block;
    padding: 12px 26px;
    background-color: black;
    opacity: 80%;
    border-radius: 10px 1px 10px 1px;
}

.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    position: relative;
}

.outer-rect3 {
    background-color: rgba(255, 77, 22, 1);
    width: 135px;
    height: 56px;
    border-radius: 36px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 10px;
    left: 30%;
}

.inner-rect3 {
    display: inline-block;
    position: absolute;
    width: 125px;
    height: 46px;
    border-radius: 36px;
    background-color: rgba(22, 24, 27, 1);
}

.inner-content3 {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    font-size: 24px;
    top: 9px;
    left: 15%;
}

.right-arrow {
    width: 20px;
}

.fourth-screen {
    width: 100%;
    height: 585px;
    background-color: rgba(25, 32, 37, 1);
}

.photo5 {
    border-radius: 22px;
    margin: 28px 0 0 20px;
}

.photo6 {
    border-radius: 22px;
    margin: 28px 0 10px;
}

.photo-contain {
    display: inline-block;
    position: relative;
}

.rectangle {
    position: absolute;
    top: 230px;
    left: 28%;
    padding: 60px 210px;
    background-color: black;
    opacity: 60%;
}

.writting3 {
    margin: 0;
    display: inline-block;
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 260px;
    left: 30%;
}

.outer-rect4 {
    background-color: rgba(255, 77, 22, 1);
    width: 428px;
    height: 88px;
    border-radius: 36px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 400px;
    left: 300px;
}

.inner-rect4 {
    display: inline-block;
    position: absolute;
    width: 418px;
    height: 78px;
    border-radius: 36px;
    background-color: rgba(22, 24, 27, 1);
}

.inner-content4 {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', 'sans serif';
    font-weight: 600;
    font-size: 28px;
    top: 22px;
    left: 11%;
}

.rectangle1 {
    position: absolute;
    top: 230px;
    left: 20%;
    padding: 60px 130px;
    background-color: black;
    opacity: 60%;
}

.outer-rect5 {
    background-color: rgba(255, 77, 22, 1);
    width: 248px;
    height: 88px;
    border-radius: 36px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 400px;
    left: 96px;
}

.inner-rect5 {
    display: inline-block;
    position: absolute;
    width: 242px;
    height: 78px;
    border-radius: 36px;
    background-color: rgba(22, 24, 27, 1);
}

.inner-content5 {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', 'sans serif';
    font-weight: 600;
    font-size: 28px;
    top: 22px;
    left: 11%;
}

.writting5 {
    margin: 0;
    display: inline-block;
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 260px;
    left: 30%;
}

.fifth-screen {
    width: 100%;
    height: 600px;
    background-color: rgba(25, 32, 37, 1);
}